<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Funkyrobot Angular Slidescroll UI</title>

    <!-- Angular slidescroll required resources -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/funkyrobot-angular-slidescroll/angular-slidescroll.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/funkyrobot-angular-slidescroll/angular-slidescroll.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-css-only/css/bootstrap.css" />

    <!-- Demo related resources -->
    <script type="text/javascript" src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">

</head>
<body ng-app="demoApp" ng-controller="DemoAppController">

    <slidescroll>

        <slide>
            <div class="container">
                <div class="col-xs-8">
                    <h1>What it does</h1>
                    <p class="lead">
                        Angular slidescroll enables a full-screen, slide based layout with keyboard and scroll slide transition.
                    </p>
                    <p class="lead">
                        <code>funkyrobot-angular-slidecroll</code> is an Angular JS directive that can be installed as a
                        JavaScript component with <code>Bower</code>.
                    </p>
                    <p>
                        Slide transitions are driven by JavaScript events which makes hooking up custom slide controls easy.
                    </p>
                    <p>
                        Using the directive is easy! Just create a <code>&lt;slidescroll&gt;&lt;/slidescroll&gt;</code>
                        element within an Angular JS app (inside the element with the <code>ng-app="myApp"</code> attribute).
                    </p>
                    <p>
                        Within <code>&lt;slidescroll&gt;&lt;/slidescroll&gt;</code>, create
                        <code>&lt;slide&gt;&lt;/slide&gt;</code> elements and place your slide contents within this.
                    </p>
                    <p>
                        Finally, within your Angular JS app's module definition, specify <code>frSlidescroll</code> as a
                        dependency.
                    </p>
                </div>
                <div class="col-xs-4">
                    <blockquote class="blockquote-reverse bg-white-20">
                        <p class="lead">
                            Angular slidescroll supports basic transition controls
                        </p>
                        <p>
                            To scroll up press the <kbd>up</kbd> key, <kbd>page up</kbd> key or scroll upwards.
                        </p>
                        <p>
                            To scroll down press the <kbd>down</kbd> key, <kbd>page down</kbd> key, press <kbd>space</kbd> or just scroll downwards.
                        </p>
                        <p>
                            The <kbd>home</kbd> and <kbd>end</kbd> keys move to the first and last slides respectively.
                        </p>
                    </blockquote>
                </div>
            </div>
        </slide>

        <slide>
            <div class="container">
                <div class="col-xs-8">
                    <h1>I need an example</h1>
                    <p><code>Angular JS module definition</code></p>
                    <pre>angular.module('demoApp', ['frSlidescroll']);</pre>
                    <pre>
&lt;head&gt;
    &lt;!-- Angular slidescroll required resources --&gt;
    &lt;script type="text/javascript" src="angular.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript" src="angular-slidescroll.js"&gt;&lt;/script&gt;
    &lt;link rel="stylesheet" type="text/css" href="angular-slidescroll.css" /&gt;

    &lt;!-- Demo related resources --&gt;
    &lt;script type="text/javascript" src="demo.js"&gt;&lt;/script&gt;
    &lt;link rel="stylesheet" type="text/css" href="demo.css"&gt;
&lt;/head&gt;
&lt;body ng-app="demoApp"&gt;
    &lt;slidescroll&gt;
        &lt;slide&gt;
            &lt;h2&gt;Slide #1&lt;/h2&gt;
        &lt;/slide&gt;
        &lt;slide&gt;
            &lt;h2&gt;Slide #2&lt;/h2&gt;
        &lt;/slide&gt;
    &lt;/slidescroll&gt;
&lt;/body&gt;
</pre>
                </div>
                <div class="col-xs-4">
                    <blockquote class="blockquote-reverse bg-white-20">
                        <p class="lead">
                            Great! How do I install this?
                        </p>
                        <p>
                            Use Bower! This Bower command downloads all the necessary files to
                        </p>
                        <h6><code>bower_components/funkyrobot-angular-slidescroll/</code></h6>
                        </p>
                        <h6><code>bower install net-funkyrobot/funkyrobot-angular-slidescroll</code></h6>
                    </blockquote>
                </div>
            </div>
        </slide>

        <slide>
            <div class="container">
                <div class="col-xs-8">
                    <h1>Overlays, headers and footers</h1>
                    <p class="lead">
                        You can display elements as overlays, on-top of slides.
                    </p>
                    <p>
                        Ensure any overlay element is defined <strong>after</strong> the <code>&lt;slidescroll&gt;</code>
                        element. Make sure it is positioned as a <code>fixed</code> element and given a position relative to the top,
                        bottom, left or right of the browser window.
                    </p>
                    <p>
                        <pre>&lt;slidescroll&gt;
    ...
&lt;/slidescroll&gt;

&lt;div id="header"&gt;
    &lt;div class="container"&gt;
        &lt;h1&gt;Funkyrobot Angular Slidescroll UI&lt;/h1&gt;
        &lt;h4&gt;An Angular JS directive&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div></pre>
                </p>
                <p>
                    <pre>#header {
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
}</pre>
                    </p>
                </div>
            </div>
        </slide>

        <slide>
            <div class="container">
                <div class="col-xs-8">
                    <h1>Slide transition event interface</h1>
                    <p class="lead">
                        The buttons on the panel below are custom transition controls which use the event driven interface.
                    </p>
                    <p>
                        Each button's click handler simply broadcasts either a <code>TransitionEvent</code> or
                        <code>TransitionToEvent</code> event using Angular's <code>$scope.$broadcast()</code> function.
                    </p>
                    <p>
                        <pre>// 'TransitionEvent', slideDelta (difference from current slide)
$scope.$broadcast('TransitionEvent', -1);</pre>
                    </p>
                    <p>
                        <pre>// 'TransitionToEvent', slideIndex (index of the slide to transition to)
$scope.$broadcast('TransitionToEvent', 2);</pre>
                    </p>
                    <p>
                        If the event is fired from outside the directive's scope, from your app's controller for example, use
                        Angular JS' <code>$scope.$broadcast()</code> function. If the event is being fired from within the
                        <code>slidescroll</code> element's scope use <code>$scope.$emit()</code>.
                    </p>
                </div>
            </div>
        </slide>

    </slidescroll>

    <div id="header">
        <div class="container">
            <div id="logo"></div>
            <h1>Funkyrobot Angular Slidescroll UI</h1>
            <h4>An Angular JS directive</h4>
        </div>
    </div>

    <div id="demo-controls">
        <form class="form-inline container">
            <button class="btn btn-primary" ng-click="previous()">Previous &#8673;</button>
            <button class="btn btn-primary" ng-click="next()">Next &#8675;</button>
            &nbsp;
            <button class="btn btn-primary" ng-click="top()">Top &#10514;</button>
            <button class="btn btn-primary" ng-click="last()">Last &#10515;</button>
            &nbsp;
            <button class="btn btn-primary" ng-click="scrollTo(goToSlideIndex)">Go to:</button>
            <input type="text" class="form-control" placeholder="Slide number" ng-model="goToSlideIndex">
        </form>
    </div>

    <a href="https://github.com/net-funkyrobot/funkyrobot-angular-slidescroll/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

</body>
</html>
Griffon2kite
