.slidescroll-root .slide {
    padding-top: 150px;
    padding-bottom: 75px;
    background: url("logo_bg.png") no-repeat 120% -50%;
}

#header {
    position: fixed;
    top: 0;
    background-color: rgba(51, 122, 183, 0.8);
    color: #fff;
    height: 120px;
    width: 100%;
}

#logo {
    background-image: url("logo.png");
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

#demo-controls {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: rgba(51, 122, 183, 0.8);
    color: #fff;
    height: 55px;
    width: 100%;
}

.bg-white-20 {
    background-color: rgba(255, 255, 255, 0.7);
}