<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Funkyrobot Angular Slidescroll UI</title>

    <!-- Angular slidescroll required resources -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/funkyrobot-angular-slidescroll/angular-slidescroll.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/funkyrobot-angular-slidescroll/angular-slidescroll.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-css-only/css/bootstrap.css" />

    <!-- Demo related resources -->
    <script type="text/javascript" src="demo.js"></script>
    <link rel="stylesheet" type="text/css" href="demo.css">

</head>
<body ng-app="demoApp" ng-controller="DemoAppController">

    <slidescroll>

        <slide>
            <div class="container">
                <h1>Basic transitions</h1>
                <p class="lead">
                    The directive supports some basic controls for slide transitions.
                </p>
                <p>
                    Scroll up and down or press the <kbd>up</kbd> and <kbd>down</kbd> arrow keys to navigate between slides.
                </p>
                <p>
                    <kbd>page up</kbd> and <kbd>page down</kbd> will also navigate up and down between slides.
                </p>
                <p>
                    <kbd>Space</kbd> will also advance by one slide.
                </p>
                <p>
                    The <kbd>home</kbd> key (<kbd>fn + left</kbd> on a Mac) will move to the first slide.
                </p>
                <p>
                    The <kbd>end</kbd> key (<kbd>fn + right</kbd> on a Mac) will move to the last slide.
                </p>
            </div>
        </slide>

        <slide>
            <div class="container">
                <h1>Overlays, headers and footers</h1>
                <p class="lead">
                    You can display elements as overlays, on-top of slides.
                </p>
                <p>
                    Ensure any overlay element is defined <strong>after</strong> the <code>&lt;slidescroll&gt;</code>
                    element. Make sure it is positioned as a <code>fixed</code> element and given a position relative to the top,
                    bottom, left or right of the browser window.
                </p>
                <p>
                    <pre>&lt;slidescroll&gt;
    ...
&lt;/slidescroll&gt;

&lt;div id="header"&gt;
    &lt;div class="container"&gt;
        &lt;h1&gt;Funkyrobot Angular Slidescroll UI&lt;/h1&gt;
        &lt;h4&gt;An Angular JS directive&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div></pre>
                </p>
                <p>
                    <pre>#header {
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
}</pre>
                </p>
            </div>
        </slide>

        <slide>
            <div class="container">
                <h1>Slide transition event interface</h1>
                <p class="lead">
                    The buttons on the panel below are custom transition controls which use the event driven interface.
                </p>
                <p>
                    Each button's click handler simply broadcasts either a <code>TransitionEvent</code> or
                    <code>TransitionToEvent</code> event using Angular's <code>$scope.$broadcast()</code> function.
                </p>
                <p>
                    <pre>// 'TransitionEvent', slideDelta (difference from current slide)
$scope.$broadcast('TransitionEvent', -1);</pre>
                </p>
                <p>
                    <pre>// 'TransitionToEvent', slideIndex (index of the slide to transition to)
$scope.$broadcast('TransitionToEvent', 2);</pre>
                </p>
                <p>
                    If the event is fired from outside the directive's scope, from your app's controller for example, use
                    Angular JS' <code>$scope.$broadcast()</code> function. If the event is being fired from within the
                    <code>slidescroll</code> element's scope use <code>$scope.$emit()</code>.
                </p>
            </div>
        </slide>

    </slidescroll>

    <div id="header">
        <div class="container">
            <h1>Funkyrobot Angular Slidescroll UI</h1>
            <h4>An Angular JS directive</h4>
        </div>
    </div>

    <div id="demo-controls">
        <form class="form-inline container">
            <button class="btn btn-primary" ng-click="previous()">Previous &#8673;</button>
            <button class="btn btn-primary" ng-click="next()">Next &#8675;</button>
            &nbsp;
            <button class="btn btn-primary" ng-click="top()">Top &#10514;</button>
            <button class="btn btn-primary" ng-click="last()">Last &#10515;</button>
            &nbsp;
            <button class="btn btn-primary" ng-click="scrollTo(goToSlideIndex)">Go to:</button>
            <input type="text" class="form-control" placeholder="Slide number" ng-model="goToSlideIndex">
        </form>
    </div>

    <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

</body>
</html>